{% extends 'base.html' %}

{% block 'contenido' %}
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock Actual</th>
      <th scope="col">Proveedor</th>

    </tr>
  </thead>
  <tbody>
    {% for p in productos %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.nombre }}</td>
      <td>{{ p.precio }}</td>
      <td>{{ p.stock_actual }}</td>
      <td>{{ p.proveedor }}</td>

    {% endfor %}
  </tbody>
    <a href="../productos/agregar"> AGREGUEMOS EL PRODUCTO</a>

</table>
<div>
    <a href='..'> HOME</a>
</div>
{% endblock %}