{% extends 'base.html' %}

{% block 'contenido' %}

<div class="row">
  <div class="col-md-2">
      <a href="../productos/agregar"> AGREGUEMOS UN PRODUCTO</a>
  </div>
  <div class="col-md-8">
    <br><br>
    <h3>LISTA DE PRODUCTOS</h3>
    <div class="table-responsive">
      <table class="table table-primary">
        <thead class="bg-dark text-white">
          <tr>
            <th scope="col"> ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">PRECIO</th>
            <th scope="col">STOCK ACTUAL</th>
            <th scope="col">PROVEEDOR</th>
          </tr>
        </thead>
        <tbody>
          {% for p in productos %}
          <tr>
            <th scope="row">{{ p.id }}</th>
            <td>{{ p.nombre }}</td>
            <td>{{ p.precio }}</td>
            <td>{{ p.stock_actual }}</td>
            <td>{{ p.proveedor }}</td>

          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="../">Home</a>
  </div>
</div>

{% endblock %}