{% extends 'base.html' %}

{% block 'contenido' %}
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>

    </tr>
  </thead>
  <tbody>
    {% for p in proveedores %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.dni }}</td>
    {% endfor %}
  </tbody>
    <div>
    <a href="../proveedores/agregar"> AGREGUEMOS EL PROVEEDOR</a>
    </div>
</table>
<div>
    <a href='..'> HOME</a>
</div>
{% endblock %}